@import "reset";
@import "priceListView";
@import "coinListTable";

#nav {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 40px;
  line-height: 40px;
  a {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    line-height: normal;
    &.active {
      font-weight: bold;
    }
  }
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #888888, $alpha: 0.3);
  z-index: 1000;
  p {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 30px;
    color: white;
  }
}
